# Copia este archivo a `.env` y asigna los valores.

# --- Servidor HTTP ---
PORT=

# --- PostgreSQL ---
PGHOST=
PGPORT=
PGUSER=postgres
PGPASSWORD=CD.t3c22%CD.t3c22%%%%%%
PGDATABASE=recalldb

# --- Pool de conexiones (opcional) ---
PGPOOL_MAX=
